# Debugging toggle - DO NOT enable this on production systems!
DEBUG = False

# Debugging -- database profiling. Creates a log file in /static/db_profile_report.html.
DEBUG_DB_PROFILING = False

# Debugging -- SQLAlchemy debug info
DEBUG_DB_LOG = False

# Cookie encryption key - this needs to be set uniquely for each installation
SECRET_KEY = "0123456789ABCDEF"

# Database connection string
# Example for SQLite (default)
SQLALCHEMY_DATABASE_URI = "sqlite:////var/lib/myapp/arcology.db"
# Example for PostgreSQL
#SQLALCHEMY_DATABASE_URI = "postgresql://arcology_user:arcology_password@localhost/arcology"

SQLALCHEMY_TRACK_MODIFICATIONS = False

# Arcology-specific settings
UPLOAD_FOLDER = "uploads"           # Relative to instance folder, or absolute path
OUTPUT_FOLDER = "outputs"           # For analysis outputs (visualisations, etc.)
MAX_CONTENT_LENGTH = 4 * 1024 * 1024 * 1024  # 4GB max upload
ITEMS_PER_PAGE = 25
FILES_PER_PAGE = 100
